<%= form_for(@school,  html: {class: 'form col-sm-8'}) do |f| %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :pitch %>
    <%= f.text_field :pitch, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-success inline' %>

    <%= link_to 'Voltar', schools_path, class: 'btn btn-primary inline' %>
  </div>
<% end %>
