<p id="notice"><%= notice %></p>

<h1>Lista de Escolas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Pitch</th>
      <th>Subdomain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.email %></td>
        <td><%= school.pitch %></td>
        <td><%= school.subdomain %></td>
        <td><%= link_to 'Mostrar', school, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Editar', edit_school_path(school), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Deletar', school, method: :delete, data: { confirm: 'Você tem certeza ?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_school_path, class: 'btn btn-primary' do %>
<i class="glyphicon glyphicon-plus"></i> Nova Escola
<% end %>
