
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @school.pitch %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @school.subdomain %>
</p>

<div class="form-group">
<%= link_to 'Editar', edit_school_path(@school), class: 'btn-success' %> |
<%= link_to 'Voltar', schools_path, class: 'btn-primary' %>
</div>
