<%= form_for(@course, html: {class: 'form col-sm-8'} ) do |f| %>

  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to 'Voltar', courses_path, class: 'btn btn-primary' %>
  </div>
<% end %>
