<h1>Cursos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Duration</th>
      <th>Price</th>
      <th colspan="3">ações</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.content %></td>
        <td><%= course.duration %></td>
        <td><%= course.price %></td>
        <td><%= link_to 'Mostrar', course, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Editar', edit_course_path(course), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Deletar', course, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_course_path, class: 'btn btn-primary' do %>
<i class="glyphicon glyphicon-plus"></i> Novo Curso
<% end %>
