
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @course.content %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<div>
<%= link_to 'Editar', edit_course_path(@course), class: 'btn btn-success' %>
<%= link_to 'Voltar', courses_path, class: 'btn btn-primary' %>
</div>
