<!DOCTYPE html>
<html>
  <head>
    <title>Escola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Edools Project</h3>
        </div>
        <div class="col-xs-9">
          <div class="row">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
          </div>
          <div class="row" style="margin-top: 3%">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
